h1{
  text-align: left;
  padding: 50px;
}
.golfimg {
  display: flex;
  justify-content: flex-end;
  padding: 150px 
}

/* nav bar */ 
.navbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 300px;
  
}
.pages {
  display: flex;
  list-style: none;
}

/* Nav Buttons */
a {
  margin-right: 50px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #dad6d6;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* hover */
.pages li a:hover {
  background-color: #d1d1d1;
  border-radius: 6px;
  transform: translateY(-2px);
  cursor: pointer;
}

.nav-icons {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: none;
}